* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
}

#home {
    background: linear-gradient(to right, #4daf54, #3d8880);
    color: #fff;
    padding: 100px;
    display: flex;
    align-items: center;
}

#home h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#home .description {
    font-size: 20px;
    width: 700px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #242628;
    padding: 20px;
    margin: 0 20px;
    color: #fff;
    width: 500px;
    border-radius: 10px;
}

.box .title {
    font-size: 30px;
    margin-bottom: 15px;
}

#team {
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#team .member {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 0 25px;
    border-radius: 10px;
}

.member .name {
    color: #017c2c;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}

.left-to-right {
    transform: translateX(-200%);
    transition: 0.7s ease-in-out;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(200%);
    transition: 0.7s ease-in-out;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.zoom.start {
    transform: scale(1);
}